In [11]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
minAges = min(ages)
print(minAges)
maxAges = max(ages)
print(maxAges)
ages.append(minAges)
ages.append(maxAges)
print(ages)
medianAge = statistics.median(ages)
print(medianAge)
averageAge = sum(ages) / len(ages)
print(averageAge)
rangeAge = maxAges - minAges
print(rangeAge)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24.0
22.75
7

In [25]:
dog = dict()
dog = {'name': 'lazy', 'color':'golden brown', 'breed': 'cockerspaniel', 'legs': 'short', 'age': 7}
print(dog)
student = {'first_name' : 'Sai Prasad', 'last_name' : 'Surampudi', 'gender' : 'male', 'age' : 27, 'marital_status' : 'single',
            'skills' : ['Quantum computing', 'Java', 'Machine learning'], 'country' : 'India', 'city' : 'chennai', 'address' : 'TVH Park villa'}
print(student)
studentLength = len(student)
print(studentLength)
studentSkillSet = student.get('skills')
print(studentSkillSet)
skillDataType = type(student.get('skills'))
print(skillDataType)
student['skills'] += ['MongoDB', 'AngularJS']
print(student['skills'])
print('-----------')
print('printing dictionary keys as a list')
print(student.keys())
student_value_list = list(student.values())
print(student_value_list)

{'name': 'lazy', 'color': 'golden brown', 'breed': 'cockerspaniel', 'legs': 'short', 'age': 7}
{'first_name': 'Sai Prasad', 'last_name': 'Surampudi', 'gender': 'male', 'age': 27, 'marital_status': 'single', 'skills': ['Quantum computing', 'Java', 'Machine learning'], 'country': 'India', 'city': 'chennai', 'address': 'TVH Park villa'}
9
['Quantum computing', 'Java', 'Machine learning']
<class 'list'>
['Quantum computing', 'Java', 'Machine learning', 'MongoDB', 'AngularJS']
-----------
printing dictionary keys as a list
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
['Sai Prasad', 'Surampudi', 'male', 27, 'single', ['Quantum computing', 'Java', 'Machine learning', 'MongoDB', 'AngularJS'], 'India', 'chennai', 'TVH Park villa']

In [31]:
sisters = ("amy", "barbara", "caroline")
brothers = ("aaron", "blake", "chris")
siblings = sisters + brothers
print(siblings)
print(len(siblings))
siblings += ("Allie", "Austin")
family_members = siblings
print(family_members)

('amy', 'barbara', 'caroline', 'aaron', 'blake', 'chris')
6
('amy', 'barbara', 'caroline', 'aaron', 'blake', 'chris', 'Allie', 'Austin')

In [51]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26} 
B = {19, 22, 20, 25, 26, 24, 28, 27} 
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))
it_companies.add('Twitter')
list_it_companies = ['Netflix', 'Meta']
it_companies.update(list_it_companies)
print(it_companies)
it_companies.remove('Meta')
print(it_companies)
it_companies.discard('Meta')
print(it_companies)
#it_companies.remove('Meta')
AunionB = A.union(B)
print(AunionB)
AintersectionB = A.intersection(B)
print(AintersectionB)
print(A.issubset(B))
print(A.isdisjoint(B))
joinAwithB = A.update(B)
print(joinAwithB)
joinBwithA = B.update(A)
print(joinBwithA)
print(A.symmetric_difference(B))
A.clear()
B.clear()
age_set = set(age)
print(len(age) == len(age_set))

7
{'IBM', 'Oracle', 'Netflix', 'Twitter', 'Apple', 'Meta', 'Microsoft', 'Facebook', 'Google', 'Amazon'}
{'IBM', 'Oracle', 'Netflix', 'Twitter', 'Apple', 'Microsoft', 'Facebook', 'Google', 'Amazon'}
{'IBM', 'Oracle', 'Netflix', 'Twitter', 'Apple', 'Microsoft', 'Facebook', 'Google', 'Amazon'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
None
None
set()
False

In [52]:
PI = 3.142
radius = 30
def findAreaofCircle(r):
    return PI * (r*r);
_area_of_circle_ = findAreaofCircle(radius)
_circum_of_circle_ = 2 * PI * radius
print(_area_of_circle_)
print(_circum_of_circle_)

2827.7999999999997
188.51999999999998

In [1]:
str1 = 'I am a teacher and I love to inspire and teach people'
unique_words = set(str1.split(' '))
print(unique_words)

{'teach', 'love', 'I', 'and', 'teacher', 'am', 'to', 'people', 'inspire', 'a'}

In [4]:
print("Name\t\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [6]:
radius = 10
area = 3.14 * radius * 2
print("The area of a circle with radius %d is %f meters square"%(radius, area))

The area of a circle with radius 10 is 62.800000 meters square

In [8]:
poundlst = []
kglst = []
n = int(input("Enter number of elements : "))
  
for i in range(0, n):
    pele = int(input())
    poundlst.append(pele)
    kele = pele/2.2046
    kglst.append(kele)
      
print(poundlst)
print("after converting to kgs")
print(kglst)

Enter number of elements : 4
150
155
145
148
[150, 155, 145, 148]
after converting to kgs
[68.03955366052799, 70.30753878254558, 65.77156853851038, 67.13235961172094]